<h1><%= current_user.email %>'s Profile</h1>
<p>Your Very Own Blocitoff</p>

<p><%= current_user.email %></p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Header column 1</th>
      <th>Header column 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>this is my content</td>
      <td>this is my content for column 2</td>
    </tr>
    <tr>
      <td>this is my content</td>
      <td>this is my content for column 2</td>
    </tr>
    <tr>
      <td>this is my content</td>
      <td>this is my content for column 2</td>
    </tr>
  </tbody>
</table>
<!-- put an html table here -->
<!-- put an html table row here with the header stuff -->
<%# render current_user.items %>
<!-- end whatever table stuff you started -->
